@import '../../../../styles/palette.css';

.Header {
  width: 100%;  

  .container {
    height: 80px;
    width: 100%;  
    text-align: center;
    color: #000;
    background: url("/assets/images/yeoman.png") $palette-tertiary no-repeat 5px 5px;
  }
  .actions {
    position: absolute;
    top: 2em;
    right: 1em;
  }
}