@import '../../../../styles/variables.css';

.Header {
  width: 100%;  
  height: 80px;
  width: 100%;  
  text-align: center;
  color: #000;
  background: url("/assets/images/yeoman.png") var(--palette-tertiary) no-repeat 5px 5px;

  .actions {
    position: absolute;
    top: 2em;
    right: 1em;
  }
}