@import '../../../../styles/variables.css';

.Preloader {
  position: absolute;
  z-index: 1000;
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	text-align: center;
	background-color: var(--palette-tertiary);

  p {
  	margin: 200px 0 0 0;
  	padding: 0;
  }

  .progressbar {
  	display: inline-block;
  	width: 25%;
  	height: 1px;
  	background-color:var(--palette-primary); 
  }
}