{
  "presets": ["react", "latest"],
  "plugins": [
    ["transform-object-rest-spread"],
    ["module-resolver", {
      "root": ["."],
      "alias": {
        "src": "./src"
      }
    }]
  ],

  "env": {
    "development": {
      "presets": ["react-hmre"]
    },
    "production": {
      "presets": ["react-optimize"]
    }
  }
}
