{
  "presets": [
    "react", 
    "latest",
    ["env", {
      "targets": {
        "browsers": ["last 2 versions"]
      }
    }]
  ],
  "plugins": [
    ["transform-runtime"],
    ["transform-object-rest-spread"],
    ["transform-async-to-generator"],
    ["module-resolver", {
      "root": ["."],
      "alias": {
        "src": "./src"
      }
    }],
    ["transform-class-properties"]
  ],

  "env": {
    "development": {
      "presets": ["react-hmre"]
    },
    "production": {
      "presets": ["react-optimize"]
    }
  }
}
