.component-header {

  position: absolute;
  top: 0;
  width: 100%;
  height:5em;
  text-align: center;
  color: #000000;
  background: #ffffff url("/images/yeoman.png") no-repeat 5px 5px;

  .setup-h2 {
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    transform: rotateX(180deg);
  }

  h2 {
    position: relative;
    display: inline-block;
    margin: 0;
    font-style: normal;
    line-height: 3em;
    cursor: crosshair;
  }
}
