@import '../../styles/palette.css';

.contactPage {
  width: 100%;
  text-align: center;
  color: $palette-tertiary; 

  .navigation {
    padding: 2em 0 0 0;
    text-align: center;

    a {
      color: $palette-secondary; 
      text-decoration: none;
    }
  }
}
