@import '../../styles/palette.css';

.LoginButton {
  padding: 1em;
  color: $palette-secondary;
  text-transform: uppercase;
  font-size: 0.8em;
  text-decoration: none;
  border: 1px solid $palette-primary;
}