@import '../../styles/palette.css';

.contact {
  width: 100%;
  text-align: center;
  color: $palette-tertiary; 
}

.contact .navigation {
  padding: 2em 0 0 0;
  text-align: center;
}

.contact .navigation a {
  color: $palette-secondary; 
  text-decoration: none;
}

