.section-contact {

  margin: 100px auto 0 auto;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  color: #FFFFFF;
  text-align: center;

  .navigation {
    padding: 0.5em;
    text-align: center;
  }

  button {
    font-weight: bold;
    color: #000001;

    &:hover {
      color: #999;
    }
  }
}
