@import '../../styles/variables.css';

.LoginButton {
  padding: 1em;
  color: var(--palette-secondary);;
  text-transform: uppercase;
  font-size: 0.8em;
  text-decoration: none;
  border: 1px solid var(--palette-primary);;
  cursor: pointer;

  &:hover {
  	background-color: var(--palette-primary);;
  	color: var(--palette-tertiary);;
  }
}