@import '../../styles/palette.css';

.component {
  height:5em;
  width: 100%;	
  text-align: center;
  color: #000;
  background: var(--palette-tertiary) url("/assets/images/yeoman.png") no-repeat 5px 5px;
}

.component a {
  position: absolute;
  top: 1.5em;
  right: 1.5em;
  padding: 1em;
  color: var(--palette-secondary);
  text-transform: uppercase;
  font-size: 0.8em;
  text-decoration: none;
  border: 1px solid var(--palette-primary);
}

.component .icon {
  display: inline-block;
  margin: 0.5em 0 0 0;
  padding: 0;
  font-size: 2em;
  cursor: crosshair;
}
