@import 'normalize.css';
@import '../../styles/helpers.css';
@import '../../styles/fonts.css';

@import '../../styles/palette.css';

html,
body {
  height: 100%;
  width: 100%;
}

:local(.wrapper) {
  max-width: 5em;
  margin: 0 auto;
  display: flex;
  background-color: var(--palette-primary); 
}
