@import '../../styles/palette.css';

.homePage {
  width: 100%;
  text-align: center;
  color: $palette-tertiary; 

  ul {
    padding: 0;
  }

  li {
    display: block;
    margin: 1em;
  }

  .navigation {
    padding: 2em 0 0 0;
    text-align: center;

    a {
      color: $palette-secondary; 
      text-decoration: none;
    }
  }
}